{"TokenizerDirectory": "tokenizer", "ModelPath": "model.onnx", "OutputDim": 768, "Runtime": "onnx", "GraphOptimizationLevel": "ORT_ENABLE_BASIC", "IntraOpNumThreads": 1, "OMP_WAIT_POLICY": "PASSIVE", "MaxConcurrency": 2, "Version": 3, "Tokenizer": "bert", "AddPrefixSpaceForBPETokenizer": true, "MaxSequenceLength": 128}